.background {
    background-image: url(../img/background.jpg) !important;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.backgraundLaunchpad {
    background-image: url(../img/backgraundLaunchpad.png) !important;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.labelText {
    color: bisque;
}

.StyleColor {
    box-shadow: white !important;
}

[id*="idHeaderPositionsTable"].sapMIBar.sapMHeader-CTX {
    background-color: transparent !important;
}

[id*="idHeaderOrderTable"].sapMIBar.sapMHeader-CTX {
    background-color: transparent !important;
}

/* bordi hederbar */
.sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0rem !important;
}

.sapMPanelContent {
    padding: 0rem !important;
}

.sapUiFormResGridCont {
    padding-bottom: 0rem !important;
}


@media screen and (max-width:1024px) {
    .sapMLIB.sapMListTblRow {
        background-color: #eef6ff !important;
    }
}

[id*="HBoxLineColor"] {
    background-color: #eef6ff !important;
}

[id*="FontSizeSup"].sapMText {
    font-size: 0.79rem !important;
}

[id*="FontSizeMat"].sapMText {
    font-size: 0.76rem !important;
}
